@model test2.Models.Home

@{
    
    ViewBag.Title = "Home";
}

@using (Html.BeginForm("Index","anime/",FormMethod.Post,null))
{
    @Html.TextBox("res")
    <input type="submit" value="Search" />
}
<h2>Home</h2>
